<% var meta = {
                title:'top',
                slug:'top',
                path:'./'
              }; %><% include _common/_header %>

<div class="wall">
  <div class="hole"></div>
</div>

<% include _common/_footer %>